body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.outer {
  text-align: center;
}

.page {
  display: inline-block;
  max-width: 1200px;
  width: 100%;
  height: 99vh;
}

.topofpage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  background-color: #FFF;
}

.logo {
  max-width: 150px;
  width: 20%;
  background-color: #1c95ff;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo_img {
  width: 75%;
  margin: auto;
}

.nav {
  flex-grow: 1;
  text-align: left;
  padding-left: 4vh;
}

.search {
  margin-left: auto;
  max-width: 200px;
  width: 20%;
  align-content: flex-end;
  background-color: #f2f4f7;
  height: 100%;
  display: flex;
  align-items: center;
}
.search_img {
  width: 20%;
}

.nav a {
  color: #1c95ff;
  text-decoration: none;
  font-weight: 700;
  margin-right: 20px;
}
a:hover {
  color: darkblue;
}

.content {
  text-align: left;
  padding: 20px;
}

.navhere {
  color: #000 !important;
}

.menu {
  display: none;
}

#menuoverlay {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .menu {
    display: inline-block;
    margin-left: auto;
    padding: 20px;
  }
  
  .menu img {
    width: 50px;
  
  }
  
  .nav {
    display: none;
  }
  
  .search {
    display: none;
  }
  
  .topofpage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    background-color: #1c95ff;
  }
  
  #menuoverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c95ff;
    color: #FFF;
    width: 100%;
    height: 50vh;
  }
  
  .menuitems {
    font-size: 24px;
    padding: 10px;
  }
  
  #close {
    font-size: 40px;
    text-align: right;
    margin: 20px;
  }
}